@model SistemaTI.Models.Solicitacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Solicitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecebimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TextoSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TextoSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolitacaoStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolitacaoStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtendimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSolicitacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
