@model IEnumerable<SistemaTI.Models.Suprimento>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Suprimentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" id="Suprimentos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSuprimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdSuprimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especificacao.Fabicante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSuprimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdSuprimento)
            </td>

            <td>
                <i class="btn btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.idSuprimento">Editar</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.idSuprimento">Detalhes</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.idSuprimento">Deletar</a>
                </i>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        /* Script do datatables
         * URL da tradução
         */
        $(document).ready(function () {
            $('#Suprimentos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}