@model IEnumerable<SistemaTI.Models.Manutencao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSolicitacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSolicitacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especificacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipamento.DescricaoEquipamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManutencaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManutencaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManutencaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
