@model SistemaTI.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuPatrimonio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuPatrimonio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEquipamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
