@model SistemaTI.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Modelo)</h1>

<div>
    <h4 class="text-center">
        @Html.DisplayFor(model => model.Local)
    </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuSerie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuSerie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuPatrimonio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuPatrimonio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipTipo)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipValor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
    </dl>
</div>

<hr />
<h2 class="text-center">Solicitações</h2>
<div class="btn btn-group">
    <a asp-action="Edit" asp-route-id="@Model.IdEquipamento" class="btn btn-outline-secondary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.IdEquipamento" class="btn btn-outline-danger">Deletar</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
