@model SistemaTI.Models.Equipamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NuSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NuSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NuPatrimonio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NuPatrimonio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipValor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipValor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataMovimantacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataMovimantacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especificacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especificacao.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processo.Assunto)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemProcessoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemProcessoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEquipamento">Editar</a> |
    <a asp-action="Index">Voltar a listagem</a>
</div>
