@model IEnumerable<SistemaTI.Models.Equipamento>

@{
    ViewData["Title"] = "Equipamentos";
}

<h1 class="text-center">Área de equipamentos </h1>

<hr/>
<!-- Projeto para a criação do menu lateral dos equiapamentos -->
<div class="align-items-center btn-group">
    <a asp-action="Create" class="btn btn-outline-secondary">Adicionar Equipamento</a>
    <a asp-controller="ModelosFabicantes" asp-action="Index" class="btn btn-outline-secondary">Modelo e Fabicante</a>
    <a asp-controller="Suprimentos" asp-action="Index" class="btn btn-outline-secondary">Suprimentos</a>
    <a asp-controller="WiFis" asp-action="Index" class="btn btn-outline-secondary">WiFi</a>
    <a asp-controller="Equipamentos" asp-action="Estatisticas" class="btn btn-outline-secondary">Teste de Relatorios</a>
</div>
<hr/>

<table class="table table-striped" id="EquipamentosDataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuPatrimonio)
            </th>





            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @{
                    var situacao = "text-white bg-success";          // Situação do equipamento "Em Funcionamento" -> Verde
                    if (item.Situacao == "Precisa de Reparo")        // Se equipamento "Precisa de Reparo"
                    {
                        situacao = "text-white bg-warning";          // Situação está -> Amarelo
                    }
                    else if (item.Situacao == "Fora de funcionamento") // Senão se equipamento está "Fora de funcionamento"
                    {
                        situacao = "text-white bg-danger";             // Situação -> Vermelho
                    }
                }

                <td class="@situacao text-center">
                    <a asp-action="Details" asp-route-id="@item.IdEquipamento" class="text-white">
                        @Html.DisplayFor(modelItem => item.EquipDescricao)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NuSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NuPatrimonio)
                </td>

                <td class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.IdEquipamento" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.IdEquipamento" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{

    <script>
    $(document).ready(function () {
        $('#EquipamentosDataTable').DataTable({
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
            }
        });
    });
    </script>
}