@model SistemaTI.Models.Local

@{
    ViewData["Title"] = "Details";
}

<h1>
    @Html.DisplayFor(model => model.Nome)
</h1>

<div>
    <hr />
    <dl class="row">



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NunProtocolo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NunProtocolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.INEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.INEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.URG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.URG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>
    </dl>

    <hr />
    
    <dl>
        <dd class="">
            <h5 class="text-center">Equipamentos</h5>
        </dd>
       <br />
        <dd class="">
            <table class="table table-striped">
                <tr>
                    <th>Descrição</th>
                    <th>Número de Serie</th>
                    <th>Número de Patriminio</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.LocalEquipamento)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Especificacao.Descricao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NuSerie)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NuPatrimonio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-controller="Equipamentos" asp-action="Edit" asp-route-id="@item.IdEquipamento">Edit</a>
                </td>
            </tr>
                }
            </table>
        </dd>
    </dl>

</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.ID">Editar</a> 
    <a class="btn btn-outline-info" asp-action="Index">Voltar a Listagem</a>
</div>
