@model SistemaTI.Models.Local

@{
    ViewData["Title"] = "Details";
}

<h1>
    @Html.DisplayFor(model => model.Nome)
</h1>

<h3>@Html.DisplayFor(model => model.localTipo)</h3>

<hr />

<div class="row">
    <div class="col">
        <div class="card-deck">

            <div class="card shadow">
                <div class="card-header ">Endereço</div>
                <div class="card-body">
                    <p>
                        @Html.DisplayFor(model => model.URG)
                    </p>

                    <hr />

                    <p>
                        <b class="text-dark"> @Html.DisplayNameFor(model => model.Logradouro): </b>
                        @Html.DisplayFor(model => model.Logradouro)
                    </p>

                    <p>
                        <b class="text-dark"> @Html.DisplayNameFor(model => model.Numero): </b>
                            @Html.DisplayFor(model => model.Numero)
                    </p>

                    <p>
                        <b class="text-dark"> @Html.DisplayNameFor(model => model.Bairro): </b>
                            @Html.DisplayFor(model => model.Bairro)
                    </p>
                    
                    <p>
                        <b class="text-dark"> @Html.DisplayNameFor(model => model.CEP): </b>
                            @Html.DisplayFor(model => model.CEP)
                    </p>

                    <p>
                        <b class="text-dark"> @Html.DisplayNameFor(model => model.Zona): </b>
                        @Html.DisplayFor(model => model.Zona)
                    </p>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-header">Contato</div>
                <div class="card-body">
                    <p>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Telefone)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.Email)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.Email)
                    </p>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-header">Registros</div>
                <div class="card-body">
                    <p>
                        @Html.DisplayNameFor(model => model.NunProtocolo)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.NunProtocolo)
                    </p>
                    <p>
                        @Html.DisplayNameFor(model => model.INEP)
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.INEP)
                    </p>
                </div>
            </div>
        </div>
   </div>
</div>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Laboratorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Laboratorio)
        </dd>

    </dl>

    <hr />

    <dl>
        <dd class="">
            <h5 class="text-center">Equipamentos</h5>
        </dd>
        <br />
        <dd>
            <table class="table table-striped shadow table-hover">
                <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Número de Serie</th>
                    <th>Número de Patriminio</th>
                    <th>Status</th>
                    <th></th>
                </tr>

                <!-- Contagem de linha, Linha = 0 -->
                @{ int LinhaNumero = 0; }

                @foreach (var item in Model.LocalEquipamento)
                {
                    <tr>
                        <!-- Linha += 1 (soma-se mais 1 ao LinhaNumero) -->
                        <td> @(LinhaNumero += 1) </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Especificacao.Descricao)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NuSerie)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NuPatrimonio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </td>
                        <td>
                            <!-- No lugar carregar a página deve carregar uma modal para editar o equipamento-->
                            <a class="btn btn-outline-warning" asp-controller="Equipamentos" asp-action="EditVoltaLocal" asp-route-id="@item.IdEquipamento">Edit</a>

<!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalEditEquip-@item.IdEquipamento">
    Editar modal
</button> -->

        <!-- Usar uma modal na pagina de detalhes do local
        A ideia ainda não teve sucesso
     Modal -->

    <div class="modal fade" id="ModalEditEquip-@item.IdEquipamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@Html.DisplayFor(modelitem => item.Especificacao.Descricao)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

                    <form asp-action="SaveModal">

                        Numero de Serie: @Html.EditorFor(modelItem => item.NuSerie)

                        <div class="form-group">
                            Status: <select asp-for="Situacao" class="form-control">
                                        <option>Em Funcionamento</option>
                                        <option>Em Manutenção</option>
                                        <option>Aguardando peça</option>
                                        <option>Troca</option>
                                    </select>
                                    <span asp-validation-for="Situacao" class="text-danger"></span>
                        </div>
                    <a class="btn btn-outline-primary" asp-controller="Equipamentos" asp-action="SaveModal" asp-route-id="@item.IdEquipamento">Salvar model</a>
                    <!-- Tevo criar uma action que apenas salve as alterações -->
                    </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>

            </div>
        </div>
    </div>
</div>
</div>

                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

</div>
    <div>
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
        <a class="btn btn-outline-info" asp-action="Index">Voltar a Listagem</a>
    </div>

    @section Scripts
{

}
