@model IEnumerable<SistemaTI.Models.Processo>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de processos</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Adicionar processo</a>
</p>
<table class="table table-striped shadow" id="Processos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prazo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEncerramento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renovacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroProcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prazo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEncerramento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renovacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCadastro)
            </td>
            <td>
                <i class="btn btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ProcessoId">Editar</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.ProcessoId">Detalhes</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ProcessoId">Deletar</a>
                </i>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Processos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}
