@model IEnumerable<SistemaTI.Models.Enviado>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de documentos Enviados</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assunto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DataEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolitacaoStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteração)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assunto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DataEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolitacaoStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteração)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEnviado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEnviado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEnviado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
