@model SistemaTI.Models.ItensProcesso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItensProcesso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QTD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QTD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocolo.ProcessoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItensProcessoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
