@model IEnumerable<SistemaTI.Models.ItensProcesso>

@{
    ViewData["Title"] = "Index";
}

<h1>Itens dos Processos</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Adicionar Item</a>
</p>
<table class="table table-striped shadow" id="ItensProcessos">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.NomeSimples)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QTD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocolo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NomeSimples)
            </td>
            <td>
                @Html.Raw(item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QTD) - @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocolo.Assunto)
            </td>
            <td>
                <i class="btn btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ItensProcessoId">Editar</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.ItensProcessoId">Detalhes</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ItensProcessoId">Deletar</a>
                </i>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#ItensProcessos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}