@model IEnumerable<SistemaTI.Models.Sistema>

@{
    ViewData["Title"] = "Sistemas";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar Sistema</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSistema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePlataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acesso)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EstadoDesenvolvimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @{ var Criticidade = "text-white bg-danger";
                if (item.Criticidade == "Media")
                {
                    Criticidade = "text-white bg-warning";
                }
                else if (item.Criticidade == "Baixa")
                {
                    Criticidade = "text-white bg-success";
                }
            }
            <td class="@Criticidade">
                @Html.DisplayFor(modelItem => item.NomeSistema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePlataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acesso)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EstadoDesenvolvimento)
            </td>
            <td  class="btn btn-group">
                <a asp-action="Edit" asp-route-id="@item.IdSistema" class="btn btn-outline-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdSistema" class="btn btn-outline-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IdSistema" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
