@model IEnumerable<SistemaTI.Models.Sistema>

@{
    ViewData["Title"] = "Sistemas";
}

<h1 class="text-center">Sistemas da TI</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Adicionar Sistema</a>
</p>

<div class="card-group">

    @foreach (var item in Model)
    {
        <div class="col-3 my-3">

            @{ var Criticidade = "text-white bg-danger";
                if (item.Criticidade == "Media")
                {
                    Criticidade = "text-white bg-warning";
                }
                else if (item.Criticidade == "Baixa")
                {
                    Criticidade = "text-white bg-success";
                }
                else if (item.EstadoDesenvolvimento == "Descontinuado")
                {
                    Criticidade = "text-white bg-dark";
                }
            }
            <div class="card shadow ">

            <a asp-action="Edit" asp-route-id="@item.IdSistema" class="text-white text-center card-header  @Criticidade">
                @Html.DisplayFor(modelItem => item.NomeSistema) 
               </a>
            <div class="card-body">

                <p>
                    @Html.DisplayFor(modelItem => item.NomePlataforma)
                </p>
                <p class="card-body-texto"> <!-- Limite de quantidade de linhas de descrição -->
                    @Html.DisplayFor(modelItem => item.Descricao)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Acesso)
                </p>

            </div>
            <div class="card-footer">
                <p>
                    @Html.DisplayFor(modelItem => item.EstadoDesenvolvimento)
                </p>
            </div>
            </div>
        </div>

    }
</div>