@model IEnumerable<SistemaTI.Models.WiFi>

@{
    ViewData["Title"] = "WiFi";
}

<h1 class="text-center">Configurações dos Wifi's</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Cadastrar nova WiFi</a>
</p>
<table class="table table-striped shadow" id="WiFi">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioADM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaADM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaSSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioADM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaADM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaSSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especificacao.Descricao)
            </td>

            <td>
                <i class="btn btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdWifi">Editar</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.IdWifi">Detalhes</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdWifi">Deletar</a>
                </i>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#WiFi').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}