@model IEnumerable<SistemaTI.Models.WiFi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioADM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaADM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaSSID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioADM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaADM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenhaSSID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdWifi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdWifi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdWifi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
