@model IEnumerable<SistemaTI.Models.Especificacao>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Espeficações dos equipamentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" id="Especificacaes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabicante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabicante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>

            <td>
                <i class="btn btn-group">
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.EspecificacaoId">Edit</a>
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.EspecificacaoId">Details</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.EspecificacaoId">Delete</a>
                </i>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Especificacaes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}