@model SistemaTI.Models.Tarefa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Tarefa</h4>
            </div>

            <div class="modal-body">

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.titulo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.titulo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.concluido)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.concluido)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.usuario)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.usuario)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.dataCriacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.dataCriacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.dataAlteracao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.dataAlteracao)
                    </dd>
                </dl>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
   
    <hr />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
