@model IEnumerable<SistemaTI.Models.Tarefa>


@{
    ViewData["Title"] = "Tarefas";
}

<h1>Minhas Tarefas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Nova Tarefa</a>
    <i class="bg-danger"> Pendente </i>
    <i class="bg-success"> Concluido </i>
</p>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.concluido)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    var status = "text-white bg-danger";
                    if (item.concluido == true)
                    {
                        status = "text-white bg-success";
                    }
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">
                        @Html.DisplayFor(modelItem => item.titulo)
                    </a>
                </td>

                <td class="@status">
                    <a asp-action="Edit" asp-route-id="@item.id" class="text-white details">
                        @Html.DisplayFor(modelItem => item.concluido)
                    </a>
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">
                        @Html.DisplayFor(modelItem => item.Prioridade)
                    </a>
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>